html,body {

	height:100%;
	width:100%;
	margin:0px;
	padding:0px;
}

body {

	font-size: 24px;
	font-family: Arial;
	text-align:center;
	cursor: default;
	
}

.valign {
	
	height: 100%;
	width: 0px;
	vertical-align: middle;
	display: inline-block;
}

.venter {
	
	vertical-align: middle;
	display: inline-block;
}

.alert {
	
	background-color: red;
	color: white;
}

.titulo {
	
	font-size: 40px;
	margin-bottom: 40px;
}

#contenido {
	
	max-width: 520px;
	display: inline-block;
}